html,
body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

#pageOne {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("flight-takeoff.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
label {
  color: green;
  font-size: 24px;
}
.flight-title {
  color: red;
  font-size: 48px;
}
.flight-inputs {
  width: 100%;
  display: flex;
  justify-content: center;
}

#pageTwo {
  display: flex;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

.about-flight p {
  font-size: 24px;
  font-weight: 400;
}
.flight-details {
  padding: 20px;
  width: 40%;
}

.form-details {
  display: flex;
  gap: 8px;
}
.form-btn {
  background-color: white;
  border-color: white;
  color: orange;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.form-submit {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 18px;
}

#cesiumContainer {
  width: 60%;
  height: 100%;
}

.flight-data {
  display: inline-block;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  background: #303336;
  border: 1px solid #444;
  color: #edffff;
  fill: #edffff;
  border-radius: 4px;
  padding: 5px 12px;
  margin: 2px 3px;
  cursor: pointer;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
