html,
body {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

#dashboard {
  display: block;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.parameter {
  /* border: 1px solid #ccc; */
  border-bottom: 1px solid white;
  color: rgb(231, 228, 228);
  margin-top: 8px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 6px;
}
.alert {
  color: red;
}
.safe {
  color: green;
}

#pageOne {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("/images/flight-takeoff.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
label {
  color: green;
  font-size: 28px;
  font-weight: 600;
}
.flight-title {
  color: red;
  font-size: 48px;
}
.flight-inputs {
  width: 100%;
  display: flex;
  justify-content: center;
}

.health-title {
  padding: 2px;
  text-align: center;
  font-size: 20px;
  color: rgb(203, 197, 197);
  font-weight: 800;
}
#pageTwo {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
  background-color: #273750;
  width: 100%;
}

.about-flight p {
  font-size: 24px;
  font-weight: 400;
}
.flight-details {
  width: 20%;
  height: 100%;
}

.form-details {
  display: flex;
  gap: 8px;
}
.form-btn {
  background-color: white;
  border-color: white;
  color: orange;
  font-size: 22px;
  border-radius: 8px;
  cursor: pointer;
}

.form-submit {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: 18px;
}

#cesiumContainer {
  width: 80%;
  height: 100%;
}

.flight-data {
  display: inline-block;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  background: #303336;
  border: 1px solid #444;
  color: #edffff;
  fill: #edffff;
  border-radius: 4px;
  padding: 5px 12px;
  margin: 2px 3px;
  cursor: pointer;
  overflow: hidden;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#arrivalSelect {
  background-color: #e0d9d9;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 200px;
}
#arrivalSelect option {
  /*styles for the dropdown options */
  background-color: #f2f2f2;
  color: #333;
  padding: 5px;
}

#destinationSelect {
  background-color: #e0d9d9;
  color: #333;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 200px;
}
#destinationSelect option {
  /*styles for the dropdown options */
  background-color: #f2f2f2;
  color: #333;
  padding: 5px;
}
